.cities_list{
    z-index: 20!important;
}

/* menu new */

.header .gray_header .top_menu {
  background: none;
  display: block;
  margin-top: 30px;
  position: static;
  padding: 0;
}

.header .gray_header .top_menu a {
    color: #ffffff;
    display: block;
    font-family: CirceLight, sans-serif;
    font-size: 15px;
    letter-spacing: 0.3px;
    margin-right: 0;
    padding: 0;
    transition: all 0.4s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.header .gray_header .top_menu a:hover, .header .gray_header .top_menu a.active {
    color: #F99205;
    text-decoration: none;
    position: relative;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.header .gray_header .top_menu a:hover::after, .header .gray_header .top_menu a.active::after {
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 2px;
    content: " ";
    background: #F99205;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainMenu__list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: inside none;
    position: relative;
    width: 100%;
    z-index: 10;
}

.mainNav_1levelItem{

}

.mainNav_1levelItem.parent{
    position:relative;
}



.submenuWrapper{
    display: none;
    padding-top: 15px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
}

@media only screen and (min-width: 768px){
    .mainNav_1levelItem.parent:hover .submenuWrapper{
        display: block;
    }
}


.mainNav_2levelList{
    background: rgba(255,255,255,255.95);
    backdrop-filter: blur(7px);
    border-radius: 4px;
    padding: 15px 0 15px;
    margin: 0;
    min-width: 230px;
    position: relative;

    -webkit-box-shadow: 0px 0px 20px 0px rgb(13 14 14 / 25%);
    -moz-box-shadow: 0px 0px 20px 0px rgba(13, 14, 14, 0.25);
    box-shadow: 0px 0px 20px 0px rgb(13 14 14 / 25%);
}

.mainNav_2levelList::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #ffff;
}

.mainNav_2levelItem{
    display: block;
    position: relative;
    padding: 0 25px;
    margin-bottom: 20px;
}
.mainNav_2levelItem:last-child{
    margin-bottom: 0;
}
.mainNav_2levelItem a{
    color: #292b2c!important;
    text-decoration: none!important;
}
.mainNav_2levelItem a:hover{
    color: #F99205!important;
    text-decoration: none!important;
}
.mainNav_2levelItem a::after{
    display: none!important;
}
.mainNav_2levelItem a:hover::after{
    display: none!important;
}
.mainNav_2levelItem:hover::before{
    background: #F99205;
    border-radius: 0 2px 2px 0;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
}

/* Ñ„Ð¸ÐºÑ Ð´Ð»Ñ ÑˆÐ°Ð±Ð»Ð¾Ð½Ð° baltic */

.mheader .gray_header .top_menu {
    margin: 0 -30px;
    width: calc(100% + 60px);
    max-width: calc(100% + 60px);
    padding: 30px;
    top: 0;
    background-color: #2c363f;
    display: none;
    position: absolute; }
.mheader .gray_header .top_menu a {
    padding: 0.7em 0;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}

@media only screen and (max-width: 1000px){
    .mainNav_1levelItem{
        display: block;
        width: 100%;
    }

    .mainNav_1levelItem.parent::after {
        position: absolute;
        right: 20px;
        top: 15px;
        content: '';
        width: 8px;
        height: 8px;
        border-right: 2px solid #FFF;
        border-bottom: 2px solid #FFF;
        -webkit-transform: rotate( 45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate( 45deg);
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

    .mainNav_1levelItem a{
        /*display: inline-block!important;*/
        display: block;
    }

    .header .gray_header .top_menu {
        background-color: #2c363f;
        display: none;
        margin: 0;
        position: absolute;
        padding: 25px 60px 30px 30px;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    .header .gray_header .top_menu a {
        padding: 0.7em 0;
    }

    .mainMenu__list{
        gap: 0;
    }

    .header .gray_header .top_menu .mainNav_2levelItem a{
        font-size: 16px;
        padding: 5px 0;
        text-transform: none;
    }

    .submenuWrapper{
        position: static;
        left: auto;
        top: auto;
        padding: 0;
        margin-top: 0;
    }

    .mainNav_2levelList{
        background: transparent;
        backdrop-filter: none;
        box-shadow: none;
        padding: 10px 15px;
        width: 100%;
    }

    .mainNav_2levelList::before{
        display: none;
    }

    .mainNav_2levelItem{
        padding: 0;
        margin-bottom: 0;
    }

    .mainNav_2levelItem a{
        color: #fff!important;
        font-size: 14px;
    }


    /* extra chit to bukvi */
    .header .gray_header .pr .big_photo{
        display: none;
    }
}



/* END menu new */


.header__hamburger {
    display: none;
}

.adaptive-menu-toggle {
    display: block;
    width: 30px;
    /*height: 24px;*/
    height: 20px;
    z-index: 99;
    position: relative;
    margin: auto;
}

.menu-toggle-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.menu-toggle-line {
    position: absolute;
    background: #3D3329;
    display: block;
    margin: auto;
    /*height: 4px;*/
    height: 2px;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.menu-toggle-line--1 {
    top: 0;
    -moz-transition: width 0.2s ease 0.3s;
    -o-transition: width 0.2s ease 0.3s;
    -webkit-transition: width 0.2s ease 0.3s;
    transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--2 {
    top: 0;
    bottom: 0;
    margin: auto;
    -moz-transition: width 0.2s ease 0.3s;
    -o-transition: width 0.2s ease 0.3s;
    -webkit-transition: width 0.2s ease 0.3s;
    transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--3 {
    bottom: 0;
    -moz-transition: width 0.2s ease 0.3s;
    -o-transition: width 0.2s ease 0.3s;
    -webkit-transition: width 0.2s ease 0.3s;
    transition: width 0.2s ease 0.3s;
}

.menu-toggle-line--4,
.menu-toggle-line--5 {
    opacity: 0;
    top: 10px;
}

.menu-toggle-line--4 {
    -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.menu-toggle-line--5 {
    -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    transition: opacity 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s, -o-transform 0.2s ease 0s;
    -moz-transition: opacity 0.2s ease 0s, transform 0.2s ease 0s, -moz-transform 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line {
    background: #3D3329;
}

.adaptive-menu-toggle--open .menu-toggle-line--1 {
    width: 0;
    -moz-transition: width 0.2s ease 0s;
    -o-transition: width 0.2s ease 0s;
    -webkit-transition: width 0.2s ease 0s;
    transition: width 0.2s ease 0s;
}

.adaptive-menu-toggle--open .menu-toggle-line--2 {
    width: 0;
    -moz-transition: width 0.2s ease 0.1s;
    -o-transition: width 0.2s ease 0.1s;
    -webkit-transition: width 0.2s ease 0.1s;
    transition: width 0.2s ease 0.1s;
}

.adaptive-menu-toggle--open .menu-toggle-line--3 {
    width: 0;
    -moz-transition: width 0.2s ease 0.2s;
    -o-transition: width 0.2s ease 0.2s;
    -webkit-transition: width 0.2s ease 0.2s;
    transition: width 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--4 {
    opacity: 1;
    -moz-transform: rotate(45deg) translateZ(0);
    -ms-transform: rotate(45deg) translateZ(0);
    -o-transform: rotate(45deg) translateZ(0);
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0);
    -webkit-transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    transition: opacity 0.2s ease 0.2s, -webkit-transform 0.2s ease 0.2s;
    -o-transition: opacity 0.2s ease 0.2s, -o-transform 0.2s ease 0.2s;
    -moz-transition: opacity 0.2s ease 0.2s, transform 0.2s ease 0.2s, -moz-transform 0.2s ease 0.2s;
}

.adaptive-menu-toggle--open .menu-toggle-line--5 {
    opacity: 1;
    -moz-transform: rotate(-45deg) translateZ(0);
    -ms-transform: rotate(-45deg) translateZ(0);
    -o-transform: rotate(-45deg) translateZ(0);
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
    -webkit-transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
    transition: opacity 0.2s ease 0.4s, -webkit-transform 0.2s ease 0.4s;
    -o-transition: opacity 0.2s ease 0.4s, -o-transform 0.2s ease 0.4s;
    -moz-transition: opacity 0.2s ease 0.4s, transform 0.2s ease 0.4s, -moz-transform 0.2s ease 0.4s;
}

@media only screen and (max-width: 1000px) {
    .header__hamburger {
        display: block !important;
        /*position: absolute;*/
        /*right: 15px;*/
        /*top: 35px;*/
        margin-left: 20px;
        position: relative;
        z-index: 10;
    }
    .headerNav_adaptive {
        background: #fff;
        box-shadow: 0 3px 6px 0px rgb(0 0 0 / 20%);
        padding-bottom: 25px;

        display: none;
        padding-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        width: 100%;
        z-index: 10;
    }
    .headerNav_adaptive .socials {
        display: flex !important;
        padding: 0 20px 20px; }
    .headerNav_adaptive .nav {
        margin: 0 0 30px;
        list-style: none;
        padding: 0 20px; }
    .headerNav_adaptive .nav a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 300;
        font-family: OSLight, sans-serif;
        color: #000000;
        line-height: 1; }

    .header_opened {
        display: block !important;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0); }
}


@media only screen and (max-width: 480px){
    .header .gray_header .top_menu{
        padding: 60px 20px 20px;
    }

    .mainNav_1levelItem.parent::after{
        right: 3px;
    }
}