@media only screen and (min-width: 2400px)

@media only screen and (max-width: 1700px)
  .hero__img_4
    right: 4px
    top: 64px

@media only screen and (max-width: 1700px)
  .hero__img_4
    top: 56px
    width: 256px

@media only screen and (max-width: 1440px)
  .hero
    &__img
      &_1
        max-width: 30%
      &_2
        max-width: 25%
      &_3
        max-width: 30%
        bottom: -100px
  .reg
    &__content
      position: relative
      z-index: 30
    &__img_1
      z-index: 5

  .about__item
    margin-bottom: 100px
    gap: 40px
    &__text-block
      flex: 2
    &__img-wrapper
      flex: 1
      
@media only screen and (max-width: 1280px)

@media only screen and (max-width: 1024px)
  .hero
    &__content
      padding: 120px 140px
    .title_h1
      font-size: 64px
  .benefits
    padding: 120px 0
    &__list
      flex-flow: column
    &__item
      padding: 20px 10px
      flex-flow: row

@media only screen and (max-width: 864px)
  .hero
    &__content
      padding: 180px 80px 100px
      p
        font-size: 32px
    &__img_1
      max-width: 40%
    .title_h1
      font-size: 56px
  .reg
    .title_h2
      font-size: 40px
    &__content.hexagon
      clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%)

@media only screen and (max-width: 768px)
  .about__item__title
    font-size: 36px
  .slot-machine
    margin: 0 8px 0 36px
    &__window
      padding: 48px

@media only screen and (max-width: 640px)
  .hero__content
    padding: 200px 40px 100px
  .about__item__img-wrapper
    margin: 36px 0 auto
  .benefits
    padding: 64px 0
    &__vk-promo
      text-align: center
  .reg
    .title_h2
      font-size: 32px
  .slot-machine
    margin: 0 8px
    &__window
      padding: 40px 8px
    &__handle
      display: none

@media only screen and (max-width: 536px)
  .hero
    &__content p
      font-size: 24px
    .title_h1
      font-size: 40px
  .about__item__img-wrapper
    display: none

  .benefits h3
    font-size: 28px

@media only screen and (max-width: 480px)
  .reg .title_h2
    font-size: 24px
@media only screen and (max-width: 360px)
  .benefits__item__img-wrapper
    display: none